# --- Python & Build Metadata ---
*.egg-info/
build/
dist/
.venv
# --- Caches  ---
**/__pycache__/
*.pyc

# --- Project Specifics ---
output/*
data/*
wandb/*
.vscode/*
logs/*
distributed_counts/*
logs/